*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.section-1{
	background: url(../img/section-1.jpg);
	height: 120vh;
	background-size:cover;
	background-repeat: no-repeat;
	/*background-position: center;*/
	overflow: hidden;
}
.section-2{
	background: url(../img/section-2.jpeg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
.section-3{
	background: url(../img/section-3.jpg);
	height: 50vh;
	background-size:cover;
	background-repeat: no-repeat;
	/*background-position: center;*/
	overflow: hidden;
}
.section-4{
	background: url(../img/section-4.jpg);
	height: 122vh;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
.section-5{
	background: url(../img/section-5.jpg);
	height: 20vh;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
.section-6{
	background: url(../img/section-6.jpg);
	height: 240vh;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
.section-7{
	background: url(../img/section-7.jpg);
	height: 140vh;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
.section-8{
	background: url(../img/section-8.jpeg);
	height: 85vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
.section-9{
	background: url(../img/section-9.jpg);
	height: 70vh;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.btn-custom{
	font-size: 15px;
}

.btn-grp{
	width: auto; 
	margin-top: 530px;
	margin-left: 70px;
}